
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 50px;
  background-color: white;
}

table th, table td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 18px;
  color: black;
}

table th {
  background-color: #f1f1f1
}

h1 {
  color: black;
}


table td {
  font-size: 2rem;
  width: 50px;
  height: 50px;
}

table td:nth-child(2) {
  text-align: left;
  max-width: 300px;
  width: 300px;
  overflow-wrap: break-word;
}

table td:nth-child(2) input[type='text'] {
  width: 100%;
}

table td:nth-child(1) {
  width: 110px;
}

input[type='text'] {
  font-size: inherit;
  text-align: inherit;
  width: 50px;
}

table td:nth-child(2) input[type='text'] {
  width: 150px;
}

tfoot button {
  width: 567%;
}